html, body, #layout {
    height: 100%;
    width: 100%;
}

body {
	background-color: #F8F8F8;
}

#map-canvas {
    height: 87%;
}

#map-menu {
    height: 9.3%;
    background-color: #F8F8F8;
    text-align: center;
}

#logo {
	vertical-align: middle;
	height: 30px;
	padding-left: 5px;
}

#about-layout {
	margin: auto;
	width: 90%;
	padding-top: 50px;
}

#text-div {
	padding-top: 30px;
	padding-left: 100px;
	margin: auto;
}